DATABASE_URL="mysql://root:password@127.0.0.1:3306/job_scraper"
SCRAPER_CRON="0 12 * * *"
SCORE_CRON="15 12 * * *"
CLEANUP_CRON="30 11 * * *"
SCRAPER_TIME_ZONE="Asia/Yangon"
SCRAPER_CONCURRENCY="2"
SCRAPER_RATE_LIMIT_MS="1200"
SCRAPER_FAILURE_COOLDOWN_MS="3600000"
SCRAPER_HEADLESS="true"
SCRAPER_MAX_RETRIES="3"
SCRAPER_MAX_JOB_AGE_DAYS="92"
NOTIFIER_PROVIDER="none"
NOTIFIER_TIMING="batch"
NOTIFIER_BATCH_SIZE="10"
NOTIFIER_TIME_ZONE="Asia/Yangon"
TELEGRAM_BOT_TOKEN=""
NEXT_PUBLIC_TELEGRAM_BOT_USERNAME=""
DISCORD_WEBHOOK_URL=""
NEXT_PUBLIC_APP_NAME="Job Scraper"
